
body{
    background: url("../image/theme_clair.jpg") no-repeat fixed;
    background-size: cover;
    text-align: center;
    background-color: black;
}

h1{
    color: aliceblue;
    text-align: center;
    font-size: 500%;
}

button{
    margin: 10px;
    font-size: large;
}


.cache{
    display: none;
}

.sombre{
    color: black;
}

.resultat{
    border: 1px solid black;
	border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-size: large;
}

#villeListe{
    margin-top: 10px;
    margin-right: 5.5%;
    font-size: large;
}

#codePostalInput{
    font-size: large;
}


